# Temporary
kis/graphcastgfs.t00z.pgrb2.0p25_251029.f000

# Virtual environment
.venv/

# Python
dist/
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Profiling
.coverage
coverage.json

# Emacs
*~

# VS Code
.vscode

# MacOS
.DS_store

# Drawing tools
*.bkp

# Marimo
__marimo__

# Dependencies
node_modules/

# Build output
dist/
mew/js/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
*/.ipynb_checkpoints/*
*~

# Data files
gis/assets.gpkg
gis/burned.tif
gis/data/
gis/dem_rhodes_match.tif
gis/ndvi.tif
gis/red.tif
gis/red_subset.tif
gis/rhodes.gpkg
gis/rhodes_sentinel-2.json
